/* Center the content horizontally and vertically */
.blog-page-infra{
    display:flex;
    justify-content: center;
    align-items: center; /* Align items vertically */
    margin-top: 2em;
    gap:3em;
    margin-bottom: 5em;
    text-align: center;
}
.blog-page-category-list ul
{
    position:fixed;
    list-style: none;
    text-align: left;
    top:10em;
    font-size:large;
    color:red;

}
.blog-page-category-list h1{
    position: fixed;
    top:5em;
    margin-left:1.5em;
    font-size:25px;
    font-weight: 400;
}
.blog-page-category-list ul li a{
    text-decoration: none;
    color:red;
}
.admin-blog-page-content {
    
}

/* Style individual blog elements */
.admin-blog-page-content-element {
    max-width: 45em; /* Limit the width of each blog element */
    padding: 20px; /* Add some padding for better spacing */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    margin-bottom: 2em; /* Add some space between blog elements */
    text-align: left;
}

.admin-blog-page-content-element img {
    max-width: 100%; /* Ensure images don't exceed their container width */
    border-radius: 10px; /* Apply border radius */
}

.admin-blog-page-content-element h1 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 0.5em; /* Add some space below the heading */
}

.admin-blog-page-content-element p {
    font-size: 16px; /* Set a default font size for paragraphs */
    margin-bottom: 1em; /* Add some space below paragraphs */
}

.admin-blog-page-content-element ul {
    padding-left: 20px; /* Indent unordered list items */
}

.admin-blog-page-content h2,
.admin-blog-page-content h3 {
    margin-top: 1em; /* Add some space above headings */
}
